body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  display: block;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 1px 0px 10px;
  font-family: Montserrat, sans-serif;
  color: #ff005d;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
}
h3 {
  margin: 10px 0px 23px;
  font-family: Montserrat, sans-serif;
  color: #f20765;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  display: block;
  margin-bottom: 5px;
  font-family: Bitter, serif;
  color: #a1a1a1;
  font-size: 15px;
  line-height: 23px;
}
.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 18px 21px;
  border-radius: 10px;
  background-color: black;
  background-image: -webkit-linear-gradient(#ff5eda, #f20a67);
  background-image: -o-linear-gradient(#ff5eda, #f20a67);
  background-image: linear-gradient(#ff5eda, #f20a67);
  box-shadow: rgba(255, 255, 255, 0.49) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, rgba(0, 0, 0, 0.49) 0px 3px 12px 0px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 0px;
}
.button:hover {
  background-image: -webkit-linear-gradient(#ff9d73, #d7624b);
  background-image: -o-linear-gradient(#ff9d73, #d7624b);
  background-image: linear-gradient(#ff9d73, #d7624b);
  box-shadow: rgba(255, 255, 255, 0.49) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, rgba(0, 0, 0, 0.49) 0px 3px 12px 0px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 0px;
}
.button.app-store {
  width: 139px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-image: -webkit-linear-gradient(#f7f0ed, #302b2a);
  background-image: -o-linear-gradient(#f7f0ed, #302b2a);
  background-image: linear-gradient(#f7f0ed, #302b2a);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button.app-store:hover {
  background-image: -webkit-linear-gradient(#ffa882, #d7624b);
  background-image: -o-linear-gradient(#ffa882, #d7624b);
  background-image: linear-gradient(#ffa882, #d7624b);
  box-shadow: rgba(255, 255, 255, 0.49) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, rgba(0, 0, 0, 0.49) 0px 3px 12px 0px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 0px;
}
.section {
  position: static;
  padding-top: 20px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.section.hero {
  padding-bottom: 0px;
  background-image: url('../images/The_restaurant.jpg');
  background-position: 0% 79%;
  background-size: cover;
}
.section.white {
  padding-top: 57px;
  box-shadow: none;
}
.section.white.subfooter {
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: none;
  text-align: center;
}
.section.grey {
  padding-bottom: 21px;
  background-color: #f5f6f7;
}
.section.grey.footer {
  background-color: #d3dbe3;
  opacity: 1;
  text-align: center;
}
.section.purple {
  padding-bottom: 18px;
  background-color: #e30b5a;
}
.section.share-style {
  margin-top: 21px;
  background-color: #ff0569;
}
.hero-iphone {
  display: block;
  margin-right: auto;
  margin-bottom: -78px;
  margin-left: auto;
  text-shadow: black 0px 0px 0px;
}
.app-name {
  margin-top: 3px;
  font-family: Inconsolata;
  color: #5c5c5c;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 9px;
  text-transform: none;
}
.logo-in-header {
  margin-top: -13px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  float: left;
}
.nav-link {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #5c5c5c;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #ed7a56;
}
.nav-column {
  text-align: right;
}
.app-store-button {
  display: inline-block;
  margin-left: 18px;
  padding: 5px 12px;
  border-radius: 8px;
  background-color: #837d99;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: none;
}
.app-store-button:hover {
  background-color: #ed7a56;
}
.hero-header {
  margin-top: 53px;
  margin-bottom: 19px;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 42px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}
.hero-subtitle {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.83);
  font-size: 18px;
  line-height: 22px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}
.big-image {
  text-shadow: none;
}
.icon-title {
  margin-top: 11px;
  margin-bottom: 0px;
  font-family: Bitter, serif;
  color: #f50a9b;
  font-size: 17px;
  font-weight: 400;
}
.organize-row {
  margin-top: 36px;
}
.price-text {
  margin-top: 11px;
  background-image: none;
  box-shadow: none;
  color: white;
  font-size: 25px;
  line-height: 28px;
  text-shadow: none;
}
.logo-in-footer {
  display: inline-block;
  margin: -7px auto 0px;
  padding-right: 12px;
  padding-left: 0px;
  opacity: 0.5;
  text-shadow: black 0px 0px 0px;
}
.left-column {
  position: static;
  padding-top: 35px;
  padding-bottom: 35px;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}
.subfooter-right {
  padding-top: 35px;
  padding-bottom: 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.09);
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}
.subfooter-left {
  padding-top: 0px;
}
.social-button {
  width: 36px;
  height: 36px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 7px;
  border-radius: 60px;
  background-color: #f06;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.social-button:hover {
  background-color: #ff6224;
}
.blog-link {
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Bitter;
  color: #f06;
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
}
.blog-link:hover {
  color: #ff5917;
}
.footer-link {
  margin-left: 8px;
  border-bottom: 1px solid rgba(131, 125, 153, 0.34);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Bitter, serif;
  color: #837d99;
  text-decoration: none;
}
.footer-link:hover {
  border-bottom: 1px solid rgba(131, 125, 153, 0.86);
}
.footer-text {
  display: inline;
  padding-right: 2px;
}
.call-to-action {
  top: -20px;
  height: 307px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 21px 22px 26px;
  border-left-width: 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgba(214, 11, 123, 0.6);
}
.center {
  text-align: center;
}
.buttontwo {
  display: inline-block;
  padding: 18px 23px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(bottom, #d8634c, #fe8c5e);
  background-image: -o-linear-gradient(bottom, #d8634c, #fe8c5e);
  background-image: linear-gradient(to top, #d8634c, #fe8c5e);
  box-shadow: rgba(255, 255, 255, 0.45) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, black 0px 1px 6px 0px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: Montserrat;
  color: white;
  font-size: 22px;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 0px;
}
.buttontwo:hover {
  background-image: -webkit-linear-gradient(bottom, #d8634c, #ffa27d);
  background-image: -o-linear-gradient(bottom, #d8634c, #ffa27d);
  background-image: linear-gradient(to top, #d8634c, #ffa27d);
  box-shadow: rgba(255, 255, 255, 0.45) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, black 0px 1px 6px 0px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 0px;
}
.screen-hero {
  width: 752px;
  margin-top: 3px;
  margin-right: 1px;
  margin-bottom: -64px;
}
.feature_des {
  margin-top: 5px;
  margin-bottom: -9px;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 17px;
  font-family: Bitter, serif;
  color: #a1a1a1;
  font-size: 14px;
  font-weight: 400;
}
.submit {
  background-color: #f70753;
  color: white;
  text-align: left;
}
.sign-up-w-location {
  margin-top: 25px;
  padding-top: 0px;
  text-align: center;
}
.back-to-top {
  position: relative;
  left: 0%;
  top: 0px;
  bottom: auto;
  z-index: 2;
  display: block;
  width: 68px;
  margin-bottom: -49px;
  padding-bottom: 9px;
  float: none;
  clear: none;
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.back-to-top-link {
  position: fixed;
  left: 85%;
  top: 887px;
  width: 68px;
  height: 68px;
}
.share-style {
  margin-top: 4px;
  padding-bottom: 0px;
  background-color: #ff005d;
  color: #f7f0f3;
}
.left_align {
  text-align: left;
}
@media (max-width: 991px) {
  p {
    font-size: 14px;
    line-height: 21px;
  }
  .button {
    background-image: -webkit-linear-gradient(#ff8d5e, #d7624b);
    background-image: -o-linear-gradient(#ff8d5e, #d7624b);
    background-image: linear-gradient(#ff8d5e, #d7624b);
  }
  .button.app-store {
    display: inline-block;
    width: 108px;
  }
  .section.hero {
    padding-top: 34px;
    padding-bottom: 1px;
  }
  .section.white {
    box-shadow: none;
  }
  .section.white.subfooter {
    box-shadow: none;
  }
  .hero-iphone {
    text-shadow: black 0px 0px 0px;
  }
  .hero-header {
    margin-top: -9px;
    font-size: 38px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .hero-subtitle {
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .big-image {
    text-shadow: black 0px 0px 0px;
  }
  .price-text {
    box-shadow: none;
    text-shadow: none;
  }
  .call-to-action {
    margin-top: -14px;
  }
  .back-to-top {
    position: relative;
    left: 0%;
    top: 0px;
    bottom: 0px;
    z-index: 2;
  }
  .back-to-top-link {
    position: fixed;
    left: 89%;
    top: 884px;
    width: 68px;
    height: 68px;
  }
}
@media (max-width: 767px) {
  h2 {
    margin-top: 0px;
  }
  .button {
    margin-bottom: 50px;
  }
  .button.app-store {
    margin-top: 12px;
    margin-bottom: 0px;
    background-image: -webkit-linear-gradient(#ff8d5e, #d7624b);
    background-image: -o-linear-gradient(#ff8d5e, #d7624b);
    background-image: linear-gradient(#ff8d5e, #d7624b);
    box-shadow: rgba(255, 255, 255, 0.49) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, rgba(0, 0, 0, 0.49) 0px 3px 12px 0px;
    text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 0px;
  }
  .section {
    padding-top: 33px;
    padding-bottom: 33px;
    text-align: center;
  }
  .section.hero {
    text-align: center;
  }
  .section.white {
    box-shadow: none;
  }
  .section.white.subfooter {
    box-shadow: none;
  }
  .hero-iphone {
    margin-bottom: 1px;
    text-shadow: black 0px 0px 0px;
  }
  .app-name {
    margin-bottom: 0px;
  }
  .logo-in-header {
    display: block;
    margin-right: auto;
    margin-bottom: 12px;
    margin-left: auto;
    float: none;
    text-shadow: black 0px 0px 0px;
  }
  .nav-column {
    padding-top: 15px;
    text-align: center;
  }
  .hero-header {
    margin-top: 30px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .big-image {
    margin-top: 38px;
    margin-bottom: 20px;
    text-shadow: black 0px 0px 0px;
  }
  .subfooter-right {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
  }
  .subfooter-left {
    text-align: center;
  }
  .screen-hero {
    margin-top: -13px;
    margin-bottom: -41px;
  }
  .back-to-top {
    position: relative;
    left: 0%;
    top: 0px;
  }
  .back-to-top-link {
    left: 85%;
    top: 854px;
    width: 68px;
    height: 68px;
  }
}
@media (max-width: 479px) {
  h3 {
    font-size: 18px;
    line-height: 23px;
  }
  .button {
    background-image: -webkit-linear-gradient(#ff8d5e, #d7624b);
    background-image: -o-linear-gradient(#ff8d5e, #d7624b);
    background-image: linear-gradient(#ff8d5e, #d7624b);
    box-shadow: rgba(255, 255, 255, 0.49) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, rgba(0, 0, 0, 0.49) 0px 3px 12px 0px;
    text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 0px;
  }
  .button.app-store {
    background-image: -webkit-linear-gradient(#ff8d5e, #d7624b);
    background-image: -o-linear-gradient(#ff8d5e, #d7624b);
    background-image: linear-gradient(#ff8d5e, #d7624b);
    box-shadow: rgba(255, 255, 255, 0.49) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, rgba(0, 0, 0, 0.49) 0px 3px 12px 0px;
    text-shadow: rgba(0, 0, 0, 0.09) 0px 2px 0px;
  }
  .section {
    text-align: center;
  }
  .section.white {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .hero-iphone {
    text-shadow: black 0px 0px 0px;
  }
  .logo-in-header {
    text-shadow: black 0px 0px 0px;
  }
  .hero-header {
    margin-top: -6px;
    font-size: 32px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  }
  .hero-subtitle {
    margin-top: -23px;
  }
  .big-image {
    text-shadow: black 0px 0px 0px;
  }
  .price-text {
    font-size: 23px;
  }
  .call-to-action {
    margin-top: 14px;
  }
  .screen-hero {
    margin-top: -20px;
  }
  .back-to-top {
    position: relative;
    left: 0%;
    top: 0px;
  }
  .back-to-top-link {
    left: 75%;
    top: 849px;
    width: 68px;
    height: 68px;
  }
}